.search-wrapper {
    #search-sat {
        height: 2em;
        width: 150px;
        font-size: large;
        font-family: sans-serif;
        box-sizing: border-box;
        outline-width: 0;
    }
}